.admin-page{
  .admin-options {
    margin-top: 20px;
    .button{
      margin-right: 10px;
    }
  }

  .trash-icon{
    color: $danger;
  }

  i.fa{
    vertical-align: initial;
  }

  .tabs li{
    a{
      color: $grey!important;
    }
    &.is-active{
      color: $grey-dark!important;
    }
  }

  .friend-product-list-item, .product-list-item{
    cursor: move;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid $grey-lighter;
    .tag, .edit-link{
      margin-right: 10px;
    }
  }
}

.admin-short-cuts{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  border: 1px solid $grey;
  a{
    color: $grey-light!important;
    &:hover{
      color: $grey!important;
    }
  }
  ul{
    margin-bottom: 20px;
  }
}
