// @font-face {
//   font-family: 'garamond';
//   src:url('AGaramondPro-Regular.otf');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "Garamond";
  src: font-url('AGaramondProRegular.otf') format("truetype");
}

@font-face {
  font-family: "Carlson";
  src:font-url('ACaslonProRegular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carlson';
  src:font-url('ACaslonProBold.otf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
