.title-hero {
  background-color: #fbfbfb;
  padding-top: 3.5em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  font-family: 'Garamond', 'Times';

  .title-horizontal-bar{
    margin-left: auto;
    margin-right: auto;
  }
}
// .bg-full {
//   background: image-url("conteu-vast.jpg") no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   // background: red;
// }

// .bg-l {
//   background: image-url("vast-l.jpg") no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   // background: red;
// }

// .bg-r {
//   background: image-url("vast-r.jpg") no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   // background: red;
// }

.home-image-wide-1{
  @include mobile {
    max-width: 100%;
  }
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  img{
    width: 100%;
  }
}

.home-image-wide-2{
  @include mobile {
    max-width: 100%;
  }
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  img{
    width: 100%;
  }
}

.all-issues-block{
  margin-bottom: 2em;
  .all-issues-title{
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    font-family: 'Garamond', 'Times';
  }
  .all-issues-horizontal-bar{
    width: 35px;
    height: 1px;
    background-color: $grey;
    margin-top: 0.9em;
    margin-bottom: 1em;
  }

  h6.release-date{
    font-family: 'Helvetica Neue', 'Helvetica';
    font-weight: 300;
    font-size: 0.7em;
    margin-bottom: 1em;
    color: #000;
  }
}

.sideslide{
  position: absolute;
  top: 0;
  width: 50%;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  top: -110vh;
}
.left-side-home{
  // z-index: -1;
  // background-color: $mypink;
  background-color: #f3f0ed;
  left:0;
}
.right-side-home{
  // z-index: -1;
  background-color: #ece9e7;
  right:0;
  top: 110vh;
  // background-color: $mygrey;
}

.home-image-1{
  @include mobile {
    max-width: 100%;
  }
  max-width: 80%;
  max-height: 500px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.home-image-2{
  @include mobile {
    max-width: 100%;
  }
  max-width: 80%;
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.main-text-area{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  // z-index: 100;
  a{color: white!important;}
}

.title-huge{
  @include mobile {
    font-size: 4em;
    line-height: 1.2;
  }
  color: white;
  font-size: 6em;
  font-family: 'Garamond', 'Times';
}

.reading-line{
  position: relative;
  color: white;
  font-size: 0.8em;
  font-family: 'Helvetica Neue', 'Helvetica';
  .horizontal-line{
    height: 2px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

@-webkit-keyframes slideToCenter { from { top:200vh; } to { top:50%; } }
@-moz-keyframes slideToCenter { from { top:200vh; } to { top:50%; } }
@keyframes slideToCenter { from { top:200vh; } to { top:50%; } }

.slide-to-center {
  top:200vh;  /* make things invisible upon start */
  -webkit-animation:slideToCenter ease-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:slideToCenter ease-out 1;
  animation:slideToCenter ease-out 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.long-delay {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.longer-delay {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.longest-delay {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
