.store{
  .product-thumbnail{
    background-color: $color2;
  }
  .image-container{
    position: relative;
    img{
      width: 100%;
    }
  }
  // .product-price{
  //   position: absolute;
  //   bottom: 10px;
  //   left: 10px;
  //   // color: $black;
  //   font-family: 'helvetica', 'Georgia';
  //   font-size: 0.8em;
  // }

  // .mytitle{
  //   float: left;
  //   margin: auto;
  // }
  .myimage{
    // margin-right: -200px;
    img{
      width: 80%;
      float: right;
    }
  }
  .section{
    // background-color:;
  }
  .introduction{
    padding: 3em 0 4em;
  }
  .store-section{
    padding: 3em 0;
  }
  .title-horizontal-bar{
    margin-left: auto;
    margin-right: auto;
  }
}
.image-thumb{
  border: 1px solid $grey-light;
  height: 100px;
}

p{
  font-family: 'Carlson', 'Georgia';
}

.content-container{
  font-family: 'Carlson', 'Georgia';
  font-size: 1em;
  padding: 1em 1.5em;
  .mytitle{
    font-weight: bold;
  }
  .mydescription{
    max-height: 100px;
    height: 100px;
    font-size: 0.9em;
    overflow: hidden;
  }
  .by{
    font-family: 'Helvetica Neue', 'Helvetica';
    font-size: 0.6em;
    margin-bottom: 1em;
  }
}

.our-container{
  position: relative;
  height: 60px;
  width: 100%;
  margin-bottom: 1em;
}

.horizontal-line-stretch{
  position: absolute;
  z-index: 50;
  margin: auto;
  width: 95%;
  height: 1px;
  background-color: $grey-light;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
// .conteu-block{
//   position: relative;
//   // display: inline-block;
//   width: 100%;
//   height: 100%;
//   // vertical-align: middle;
// }
.conteu-image-heading{
  // position: relative;
  padding: 0 10px;
  width: 160px;
  margin: auto;
  background-color: white;
  z-index: 51;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  img{
    margin: auto;
    background-color: white;
    z-index: 51;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}

.conteu-store-heading{
  // position: relative;
  padding: 0 10px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  background-color: white;
  z-index: 51;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  white-space: nowrap;
}

.buy-button{
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 1em;
  padding: 7px 15px;
  background-color: $grey-light;
  color: $mygrey;
  display: inline-block;
  font-family: 'Helveetica Neue', 'Helvetica';
  font-size: 0.7em;
  &:hover{
    background-color: $grey;
  }
  .price{
    font-weight: bold;
  }
}
.checkout_button{
  z-index: 3000;
  position: fixed;
  top: $nav-height;
  right: 0;
  padding: 8px 15px;
  background-color: $grey;
  font-family: 'Helveetica Neue', 'Helvetica';
  font-size: 0.8em;
  color: $grey-lighter;
  &:hover{
    color: $grey-lighter;
    background-color: $grey-dark;
  }
  span.cart-counter{
    font-weight: bold;
  }
}

// ORDERS FORM
.order-form{
  // font-family: 'Garamond', 'Helvetica';
  // font-size: 1em;

  // font-family: 'Helvetica Neue', 'Helvetica';
  // font-size: 0.8em;
  padding-right: 2em;
  .simple_form_input{
    width: 100%;
  }
  .input, .text-area{
    font-family: 'Carlson', 'Georgia';
    padding-left: 2px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $grey-light;
    background: none!important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding-bottom: 0;
    padding-top: 0.7em;
    @include mobile{
      margin-bottom: 2em;
    }
  }
  .field-label.is-normal{
    flex-grow: 1;
    text-align: left;
    padding-top: 0.7em;
  }
}

.confirm-button{
  padding: 8px 15px;
  background-color: $grey-lighter;
  color: $grey-dark;
  border: 1px solid $grey-light;
  &:hover{
    background-color: $grey-light;
  }
}

.order-summary{
  padding: 2em 0 2em 1em;
  border: 1px solid $grey;
  .order-item{
    margin-bottom: 10px;
  }
}
