.store{
  .image-container{
    position: relative;
  }
  .product-price{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $black;
  }

  .mytitle{
    float: left;
    margin: auto;
  }
  .myimage{
    // margin-right: -200px;
    img{
      width: 80%;
      float: right;
    }
  }
  .section{
    // background-color:;
  }
}
 .image-thumb{
  border: 1px solid $grey-light;
  height: 100px;
}
