.viewpoint{
  background-color: $mygrey;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  margin-bottom: 1em;
  font-family: 'Carlson', 'Georgia';
  a{
    color: $grey;
    &:hover{
      color: $grey-dark;
    }
  }
  .introduction{
    padding: 3em 0 1em;
  }
  .trivium{
    padding-bottom: 3em;
  }

  .title-horizontal-bar{
    margin-left: auto;
    margin-right: auto;
  }

  .viewpoint-navigation{
    padding: 20px;
    text-align: center;
    &.landscape-layout{
      padding: 30px 0 15px;
      text-align: right;
    }
    .horizontal-separator{
      width: 20px;
      height: 1px;
      background: $grey;
      margin: 8px auto;
    }
    .fa{
      vertical-align: baseline;
    }
    .left-icon{
      margin-right: 5px;
    }
    .right-icon{
      margin-left: 5px;
    }
  }

  .viewpoint-image{
    margin-bottom: 1em;
    img.landscape{
      width: 100%;
    }
  }
  .sidebar{
    &.landscape{
      @include mobile{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 2em;
      }
    }
    position: relative;
    margin-bottom: 20px;
    padding: 0 60px;

    h1{
      font-family: 'Garamond', 'Times';
      font-weight: 300;
      font-size: 1.8em;
      margin-bottom: 0.6em;
    }
    h5{
      font-family: 'Carlson', 'Georgia';
      font-weight: bold;
      font-size: 1em;
      padding-bottom: 10px;
      border-bottom: 1px solid $grey-light;
      margin-bottom: 15px;
    }
    h6{
      font-family: 'Helvetica Neue', 'Helvetica';
      font-weight: 500;
      font-size: 0.7em;
    }
    p{
      font-family: 'Carlson', 'Georgia';
      font-size: 1em;
    }

    .view-point-object-list-item{
      position: relative;
      font-family: 'Helvetica Neue', 'Helvetica';
      font-weight: 500;
      font-size: 0.7em;
      padding: 5px;
      margin: 2px 0;
      a{
        color: $grey-light;
        &:hover{
          color: $grey-dark;
        }
      }
      .view-point-line{
        position: absolute;
        width: 55px;
        height: 1px;
        background: $grey;
        // margin: auto 0;
        top: 50%;
        right: -60px;
        opacity: 0;
      }
      &.is-active{
        a{
          color: $grey-dark;
        }
        .view-point-line{
          opacity: 1;
        }
      }
    }


    .website-link{
      font-family: 'Helvetica Neue', 'Helvetica';
      font-size: 0.7em;
      a{ color: $grey-dark; }
    }
    i.fa{
      vertical-align: baseline;
    }
  }
}
