// FORM FIELDS

.component-top-bar{
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5em;
  cursor: move;
}
.collapse-icon{
  cursor: pointer;
  color: $dark;
}
.component-delete-icon{
  margin-left: 15px;
  color: $danger;
}

.create-component-buttons{
  a.button{
    display: inline-block;
    margin-right: 10px;
  }
}

.component-body{
  .image-thumb{
    border: 1px solid $grey-light;
    height: 100px;
  }
}

.full-width-image{
  img{ width: 100%; }
}


// TEXT COMPONENETS
.text-single-column{
  text-align: justify;
}

.drop-cap:first-child:first-letter { float: left;
                                     font-size: 45px;
                                     line-height: 40px;
                                     padding-top: 5px;
                                     padding-right: 8px;
                                     padding-left: 3px;
                                     font-family: Georgia; }

.story-title{
  font-size: 2.6em;
  font-family: 'Garamond', 'Times';
}

.title-horizontal-bar{
  width: 35px;
  height: 1px;
  background-color: black;
  margin-bottom: 1.5em;
}

.credit-text{
  font-family: 'Helvetica Neue', 'Helvetica';
  font-size: 0.8em;
  margin-bottom: 2.6em;
}

.sans-serif{
  font-family: 'Helvetica Neue', 'Helvetica';
}
.contributor{
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;

  .insta{
    // margin-top: 1em;
    i.fa{
      font-size: 0.9em!important;
      vertical-align: baseline;
    }
    .insta-handle{
      font-size: 0.9em!important;
    }
  }
  .website-link{
    font-family: 'Helvetica Neue', 'Helvetica';
    font-size: 0.9em;
    a{ color: $grey-dark; }
  }
  .border-left{
    @include tablet{
      border-left: 1px solid $grey-lighter;
    }
  }
}

.pull-quote{
  font-size: 1.5em;
  margin: 1em 0;
  border-left: 3px solid $grey;
  // color: $grey;
  padding: 0 1em;
}

.image-caption{
  display: inline-block;
  font-size: 0.9em;
  margin-top: 0.8em;
  margin-bottom: 1.5em;
}

.story-bulleted-list{
  list-style-type: circle;
  margin-left: 1.1em;
}
