// GLOBAL SETTINGS
// ===============
html, body.contents {
  // height: 100vh;
}

// text highlight is yellow
::selection {
    background: #fff2a8; /* WebKit/Blink Browsers */
  }
::-moz-selection {
  background: #fff2a8; /* Gecko Browsers */
}

// prevent selecting images
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// CUSTOM GENERIC CLASSES
// ======================

.border{
  border: 1px solid red;
}

// LAYOUT STYLES
// =============

// allows borders to be applied to columns
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// standard box for inside columns
.l-box {
  padding: 1em;
}

.full-height {
  // height: 100vh;
  // max-height: 100vh;
}


// HEADER
// ======
.menu-bar-padding{
  // padding-top: 80px;
}

.nav-bar{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 40000;
  // height: 80px;
  // border-bottom: 1px solid #bbb;
  float: left;
}

.logo-container{
  text-align: right;
  img{
    width: 150px;
    height: 30px;
  }
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  .conteu-logo{
    margin-top: 19px;
    // margin-bottom: 15px;
  }
}
.hamburger-container{
  height: 100%;
  .hamburger-icon a{
    color: #000;
    text-decoration: none;
  }
}

// CONTENTS PAGE
// =============

.contents-block{
  width: 250px;
  margin-bottom: 50px;
  padding: 0 10px;
  h6{
    font-family: 'Georgia';
    font-weight: 300;
    font-size: 1em;
  }
  p{
    font-family: 'Courier';
    font-size: 0.7em;
  }
  a{
    color: #000;
    text-decoration: none;
  }
}



// PANEL LAYOUTS
// =============
.text-block{
  h6{
    font-family: 'Georgia';
    font-weight: 300;
    font-size: 1em;
  }
  p{
    font-family: 'Georgia';
    font-size: 0.8em;
  }
  padding: 20px;
}

.panel{
  height: 100%;
  img.fill{
    -o-object-fit: cover;
    object-fit: cover;
    height: 99%;
    width: 100%;
    // max-width: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    // min-height: 600px;
  }
  img.fill-2{
    -o-object-fit: cover;
    object-fit: cover;
    height: 99%;
    width: 100%;
    // max-width: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    // min-height: 600px;
  }
}

